header{
  height: 60px;
  background-color: #dadfe5;
  position: relative;
  z-index: 999;
}

main{
  overflow-x: hidden;
}

main .lateral-menu{
  background-color: #051e34;
  color: white;
  height: calc(100vh - 60px);
}


main .main-content{
  height: calc(100vh - 60px);
}

main .main-content .blu{
  height: 100px; /*da togliere*/
  width: 100%;
  
}

main .main-content #content{
  width: 100%;
 
}

