header{
  height: 70px;
  background-color: #dadfe5;
  position: relative;
  z-index: 999;
}

header img{
  max-width: 100%;
}

header #logo-mobile{
  width: 7vh;
  margin-top: 20px;
}

header #logo{
  width: 20vw;
}

header #bell{
  color: rgb(255, 179, 37);
}

main{
  overflow-x: hidden;
}

main .lateral-menu{
  background-color: #051e34;
  color: white;
  height: calc(100vh - 70px);
}


main .main-content{
  height: calc(100vh - 70px);
}

main .main-content .blu{
  height: 100px; /*da togliere*/
  width: 100%;
  
}

main .main-content #content{
  width: 100%;
 
}

